body{
    text-align: center;
}
.btn{
    color:#000000;
    background:rgba(0, 132, 255, 0.5);
    padding:10px 20px;
    text-decoration:none;
    text-transform:uppercase;
}

.btn:hover{
    border:none;
    background:rgb(107, 168, 192);
    padding:15px 20px;
    color:#1b1b1b;
}

.topDiv {
    background-color: rgb(182, 226, 243);
    width: 55%;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

div{
    background-color: rgb(182, 226, 243);
    width: 75%;
    border-radius: 10px;
    margin: auto;
}

img{
    width: 300px;
}

.productList{
    display: inline-flex;
}




